#myCanvas {
	    display: block;
        margin: 50px auto;
        outline : 1px solid black;
        background-image: url(https://www.zupimages.net/up/18/47/p50d.png?fbclid=IwAR1ZX_CWhDauJQlwsT5PCC7Rzpwo0YGVkTcTQQbpIvbBA8TKASuZwSQZM1o)
}
